.albums {
  .card {
    img {
      max-width: 100% !important;
      height: 267px;
      object-fit: cover;
      object-position: center center;
    }
    h5 {
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-4deg) !important;
    }
  }

  .card-rotate-right {
    transform: rotate(2deg) !important;
  }

  .card-rotate-left {
    transform: rotate(-2deg) !important;
  }

  @media screen and (min-width: 992px) {
    .card {
      img {
        height: 274px;
      }
    }
  }
}
