<nav class="navbar navbar-expand-lg">
  <div class="container">
    <h1>
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/logo.png?raw=true"
          alt="main logo"
        />
        <p class="text-nowrap fs-3">7TAO</p>
        <span class="text-nowrap fs-6 noto-serif-tc fw-bold"
          >活動訂票網</span
        ></a
      >
    </h1>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="探索活動" />
      <span class="input-group-text bg-primary" id="basic-addon2"
        ><i class="icofont-search-1 text-secondary"></i
      ></span>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-primary" aria-current="page" href="#"
            ><i class="icofont-ui-file"></i>REGISTER</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" href="#">
            <i class="icofont-user"></i>LOGIN
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
