.title {
  @media screen and (min-width: 992px) {
    .fs-lg-64 {
      font-size: 64px !important;
    }
    .fs-lg-32 {
      font-size: 32px !important;
    }
  }
}

// 活動卡片
.event-item {
  .card-header {
    p {
      font-size: 32px;
    }
  }

  .card-body {
    h5 {
      font-size: 18px;
    }
    .recent-evt-img {
      width: 100%;
      height: 210px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }

  .card-footer {
    .cate-link:hover {
      text-decoration: underline !important;
    }
    img {
      width: 20px;
      height: 20px;
    }
    .onsale-link:hover::before {
      content: "";
      width: 29px;
      height: 29px;
      position: absolute;
      top: -3.5px;
      left: -10px;
      border-radius: 50%;
      background-color: $secondary;
      z-index: -1;
      transition: all 0.3s;
    }
  }
  @media screen and (min-width: 768px) {
    .card-header {
      p {
        font-size: 48px;
      }
    }

    .card-body {
      h5 {
        font-size: 24px;
      }
      .recent-evt-img {
        height: 255px;
      }
    }

    .card-footer {
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
