<div class="follow-us">
  <div class="row card-group g-0 gy-6">
    <div class="col-12 col-md-6">
      <div class="card h-100 border border-2 border-primary">
        <div
          class="card-header noto-serif-tc fw-bold py-md-4 px-3 px-md-8 border-bottom border-2 border-primary"
        >
          #FOLLOW US
        </div>
        <div class="card-body px-3 py-4 p-md-8 noto-sans-tc">
          <p class="mb-4 mb-md-8">
            想第一時間獲得新奇有趣的活動資訊？
            <br />
            追蹤我們的社群吧！
            <br />
            也歡迎你聯繫我們，提供好玩有趣的活動企劃。
          </p>
          <ul class="social-media p-0 m-0">
            <li class="d-flex align-items-center mb-4">
              <span
                class="bg-primary d-flex justify-content-center align-items-center me-4"
              >
                <i class="icofont-ui-email text-white"></i>
              </span>
              <a href="#">7tao.event@gmail.com</a>
            </li>
            <li class="d-flex align-items-center mb-4">
              <span
                class="bg-primary d-flex justify-content-center align-items-center me-4"
              >
                <i class="icofont-phone text-white"></i>
              </span>
              <a href="#">09123123123</a>
            </li>
            <li class="d-flex align-items-center">
              <span
                class="bg-primary d-flex justify-content-center align-items-center me-4"
              >
                <i class="icofont-facebook text-white"></i>
              </span>
              <a href="#">7TAO七逃</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card border-start-0 h-100 border border-2 border-primary">
        <div
          class="card-header noto-serif-tc fw-bold py-md-4 px-3 px-md-8 border-bottom border-2 border-primary"
        >
          #SUBSCRIBE US
        </div>
        <div class="card-body d-flex flex-column justify-content-between p-0">
          <div class="px-3 px-md-8 pt-4 pt-md-8">
            <p class="mb-4 mb-md-8">
              訂閱電子報送折價券！
              <br />
              定期精選文章資訊及最新優惠資訊，
              <br />
              還不通通給我訂閱起來？
            </p>
            <input
              type="email"
              class="form-control noto-sans-tc py-4 px-6 mb-15 border border-2 border-primary"
              placeholder="輸入Email"
            />
          </div>

          <a href="#" class="btn btn-primary text-white py-4 py-md-3"
            >確認訂閱<i class="icofont-rounded-double-right ms-1"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
