<div class="row row-cols-3 row-cols-lg-6 category g-1 gx-lg-3 py-lg-0">
  <div class="col">
    <div
      class="border border-dark border-2 d-flex flex-column align-items-center justify-content-center cate-item"
    >
      <a
        href="events.html"
        class="d-flex flex-column align-items-center justify-content-center w-100"
      >
        <img
          src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate01.svg"
          alt="cate01"
          class="mb-3"
        />
        <p class="noto-serif-tc fw-bold fs-4 text-center">演出</p>
      </a>
    </div>
  </div>
  <div class="col">
    <div
      class="border border-dark border-2 d-flex flex-column align-items-center justify-content-center cate-item"
    >
      <a
        href="events.html"
        class="d-flex flex-column align-items-center justify-content-center w-100"
      >
        <img
          src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate02.svg"
          alt="cate01"
          class="mb-3"
        />
        <p class="noto-serif-tc fw-bold fs-4 text-center">聯誼</p>
      </a>
    </div>
  </div>
  <div class="col">
    <div
      class="border border-dark border-2 d-flex flex-column align-items-center justify-content-center cate-item"
    >
      <a
        href="events.html"
        class="d-flex flex-column align-items-center justify-content-center w-100"
      >
        <img
          src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate04.svg"
          alt="cate01"
          class="mb-3"
        />
        <p class="noto-serif-tc fw-bold fs-4 text-center">美食</p>
      </a>
    </div>
  </div>
  <div class="col">
    <div
      class="border border-dark border-2 d-flex flex-column align-items-center justify-content-center cate-item"
    >
      <a
        href="events.html"
        class="d-flex flex-column align-items-center justify-content-center w-100"
      >
        <img
          src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate05.svg"
          alt="cate01"
          class="mb-3"
        />
        <p class="noto-serif-tc fw-bold fs-4 text-center">戶外</p>
      </a>
    </div>
  </div>
  <div class="col">
    <div
      class="border border-dark border-2 d-flex flex-column align-items-center justify-content-center cate-item"
    >
      <a
        href="events.html"
        class="d-flex flex-column align-items-center justify-content-center w-100"
      >
        <img
          src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate01.svg"
          alt="cate01"
          class="mb-3"
        />
        <p class="noto-serif-tc fw-bold fs-4 text-center">演出</p>
      </a>
    </div>
  </div>
  <div class="col">
    <div
      class="border border-dark border-2 d-flex flex-column align-items-center justify-content-center cate-item bg-primary"
    >
      <a href="events.html" class="d-block w-100">
        <p class="fs-2 noto-serif-tc fw-bold text-secondary text-center">
          探索
          <br />
          更多
        </p>
      </a>
    </div>
  </div>
</div>
