<div
  class="title border border-primary border-3 d-flex justify-content-between align-items-center py-4 py-lg-6 px-3 px-lg-8 mb-8"
>
  <p class="fs-4 fs-lg-64">ONLINE</p>
  <span class="noto-serif-tc fs-lg-32 fw-bold">線上活動</span>
</div>
<!-- online-evt -->
<div class="row online-evt">
  <div class="col-12 col-md-7">
    <div class="online-img mb-3 mb-md-0"></div>
  </div>
  <div class="col-12 col-md-5">
    <h3 class="noto-serif-tc mb-2 mb-md-4">切特居批踢</h3>
    <ul class="tag-list d-flex p-0 m-0 mb-3 mb-md-8">
      <li class="border border-dark me-2">
        <a
          href="#"
          class="fw-bold noto-serif-tc d-block py-1 px-4 px-md-6 text-nowrap"
          >競賽</a
        >
      </li>
      <li class="border border-dark me-2">
        <a
          href="#"
          class="fw-bold noto-serif-tc d-block py-1 px-4 px-md-6 text-nowrap"
          >科技</a
        >
      </li>
      <li class="border border-dark me-2">
        <a
          href="#"
          class="fw-bold noto-serif-tc d-block py-1 px-4 px-md-6 text-nowrap"
          >有趣</a
        >
      </li>
    </ul>
    <p class="mb-3 mb-md-8">
      最近網路上很流行的AI程式
      ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。
      這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。
      該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！
    </p>
    <a href="#" class="btn btn-primary w-100"
      >查看活動詳情<i class="icofont-rounded-double-right ms-1"></i
    ></a>
  </div>
</div>
