<div class="marquee-left bg-dark py-4 py-md-6 overflow-hidden d-flex">
  <p class="text-secondary text-nowrap  fw-bold noto-serif-tc">
    活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・
  </p>
  <p class="text-secondary text-nowrap  fw-bold noto-serif-tc">
    活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS
  </p>
</div>
