<div class="row justify-content-center">
  <div class="col-10 col-lg-6">
    <div
      class="steps d-flex w-100 border-top border-primary position-relative mt-10 mt-lg-84"
    >
      <div
        class="step step-1 bg-primary d-flex justify-content-center align-items-center text-secondary border border-primary position-absolute top-0 start-0 translate-middle"
      >
        <i class="icofont-verification-check"></i>
      </div>
      <span
        class="fw-bold noto-serif-tc position-absolute top-0 start-0 translate-middle mt-10"
        >訂單確認</span
      >
      <div
        class="step step-2 d-flex justify-content-center align-items-center border border-dark position-absolute top-0 start-50 translate-middle bg-primary text-secondary"
      >
        2
      </div>
      <span
        class="fw-bold noto-serif-tc position-absolute top-0 start-50 translate-middle mt-10"
        >結帳付款</span
      >
      <div
        class="step step-3 d-flex justify-content-center align-items-center border border-dark position-absolute top-0 start-100 translate-middle bg-primary-dark"
      >
        3
      </div>
      <span
        class="fw-bold noto-serif-tc position-absolute top-0 start-100 translate-middle mt-10 text-nowrap"
        >訂購結果</span
      >
    </div>
  </div>
</div>
