.navbar {
  .navber-leftside {
    height: 40px;
  }

  h1 img {
    width: 40px;
  }

  .input-group {
    width: 207px;
  }

  .navbar-toggler {
    border-radius: 4px;
  }

  @media screen and (min-width: 768px) {
    .navber-leftside {
      height: 55px;
    }

    h1 img {
      width: 53px;
    }

    .input-group {
      width: 335px;
    }
  }
}
