.mt-68 {
  margin-top: 68px;
}

.fs-32 {
  font-size: 32px;
}

.sparkler {
  width: 32px;
  height: 32px;
}

.text-dark-gray {
  color: #474747;
}

@media screen and (min-width: 992px) {
  .mt-lg-104 {
    margin-top: 104px !important;
  }

  .fs-lg-48 {
    font-size: 48px !important;
  }

  .steps.mt-lg-84 {
    margin-top: 84px !important;
  }
}
