<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Noto+Serif+TC:wght@400;700&family=Yeseva+One&display=swap"
      rel="stylesheet"
    />
    <!-- icofont -->
    <link rel="stylesheet" href="../assets/icofont/icofont.min.css" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container">
      <!-- event-banner -->
      <div class="mb-6"><%- include('./components/event-banner'); -%></div>
      <!-- event-info -->
      <div class="mb-6 mb-12"><%- include('./components/event-info'); -%></div>
      <!-- event-ticket -->
      <div class="event-ticket">
        <!-- ticket-title -->
        <div
          class="title border border-primary border-3 d-flex justify-content-between align-items-center py-4 py-lg-6 px-3 px-lg-8 mb-4"
        >
          <p class="fs-4 fs-lg-64">TICKET</p>
          <span class="noto-serif-tc fs-lg-32 fw-bold">購票資訊</span>
        </div>
        <!-- ticket table -->
        <table class="table mb-12 mb-lg-15">
          <thead>
            <tr class="ticket">
              <th scope="col">活動日期</th>
              <th scope="col">票種</th>
              <th scope="col">票價</th>
              <th scope="col">購票</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">2023/5/12</th>
              <td>普通票</td>
              <td>$600</td>
              <td>
                <a href="#" class="btn btn-outline-primary">
                  <p class="d-none d-lg-inline text-nowrap">立即購票</p>
                  <p class="d-lg-none text-nowrap">購票</p></a
                >
              </td>
            </tr>
            <tr>
              <th scope="row">2023/5/12</th>
              <td>改頭換面票（含大改造）</td>
              <td>$3600</td>
              <td>
                <a href="#" class="btn btn-outline-primary">
                  <p class="d-none d-lg-inline text-nowrap">立即購票</p>
                  <p class="d-lg-none text-nowrap">購票</p></a
                >
              </td>
            </tr>
            <tr>
              <th scope="row">2023/5/12</th>
              <td>必勝票（含戀愛小抄）</td>
              <td>$8000</td>
              <td>
                <a href="#" class="btn btn-outline-primary">
                  <p class="d-none d-lg-inline text-nowrap">立即購票</p>
                  <p class="d-lg-none text-nowrap">購票</p></a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
