<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Noto+Serif+TC:wght@400;700&family=Yeseva+One&display=swap"
      rel="stylesheet"
    />
    <!-- icofont -->
    <link rel="stylesheet" href="../assets/icofont/icofont.min.css" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container">
      <!-- 步驟條 -->
      <%- include('./components/order-steps'); -%>
      <!-- 訂單內容 -->
      <h2
        class="fw-bold noto-serif-tc text-lg-center mt-68 mt-lg-104 fs-32 fs-lg-48 mb-4"
      >
        返老還童-制服聯誼
      </h2>
      <div class="row justify-content-center mb-12 mb-lg-15">
        <div class="col-12 col-lg-6">
          <table class="table w-100 mb-8 mb-lg-12">
            <tbody>
              <tr class="border-top border-2 border-primary">
                <th scope="row" class="fw-bold noto-serif-tc">日期</th>
                <td class="text-end noto-sans-tc">2023/5/12</td>
              </tr>
              <tr class="border-bottom border-primary">
                <th scope="row" class="fw-bold noto-serif-tc">票種</th>

                <td class="text-end">改頭換面票（含大改造）</td>
              </tr>
              <tr class="border-bottom border-primary">
                <th scope="row" class="fw-bold noto-serif-tc">票價</th>
                <td class="text-end noto-sans-tc">$8000</td>
              </tr>
            </tbody>
          </table>

          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
            alt="sparkler"
            class="sparkler ms-auto me-auto d-block mb-4"
          />
          <h3 class="noto-serif-tc fw-bold fs-4 text-center mb-4">
            聯絡人資料
          </h3>
          <!-- 聯絡人表單 -->
          <div>
            <div class="mb-4">
              <label for="userName" class="form-label mb-2">聯絡人姓名</label>
              <input
                type="text"
                class="form-control border-2 border-primary noto-sans-tc"
                id="userName"
                placeholder="請輸入聯絡人名稱"
              />
            </div>
            <div class="mb-4">
              <label for="userEmail" class="form-label mb-2">Email</label>
              <input
                type="text"
                class="form-control border-2 border-primary noto-sans-tc"
                id="userEmail"
                placeholder="請輸入Email"
              />
            </div>
            <div class="mb-6 mb-lg-8">
              <label for="userPhone" class="form-label mb-2">手機</label>
              <input
                type="text"
                class="form-control border-2 border-primary noto-sans-tc"
                id="userPhone"
                placeholder="請輸入手機號碼"
              />
            </div>
            <div class="row justify-content-center mb-4">
              <div class="col-12 col-lg-8">
                <a
                  class="d-flex btn btn-primary justify-content-center align-items-center fs-5 py-2 noto-sans-tc fw-bold hover-yellow"
                  href="payment.html"
                  >確認表單資料<i class="icofont-rounded-double-rightms-1"></i
                ></a>
              </div>
            </div>
            <p class="text-center text-dark-gray">取消購票</p>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
